
# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.env
.env
*.sqlite3

# Jupyter Notebook
.ipynb_checkpoints

# Node.js
node_modules/
build/
dist/

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/
